TELECAST_TELEGRAM_API_ID=0
TELECAST_TELEGRAM_API_HASH=
TELECAST_SOURCE_CHANNELS=@channel_one,@channel_two
TELECAST_BOT_TOKEN=
TELECAST_DEST_CHANNEL=@my_destination_channel
TELECAST_GEMINI_API_KEY=
TELECAST_WEB_PASSWORD=change-me
TELECAST_SECRET_KEY=generate-a-long-random-string
# TELECAST_YOUTUBE_PRIVACY=public
